.page-shared {
    display: flex;
    overflow-x: hidden;
}

.private-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}


.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 350px !important;
    height: 350px!important; 
}

.swiper-button-prev,
.swiper-button-next {
    width: 0.44rem !important;
    height: 0.44rem !important;
    padding: 0.15rem;
    background: rgba(37, 29, 41, 1);
    opacity: 0.8;
    border-radius: 50%;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: #E4BAB3 !important;
}

.swiper-pagination-bullet {
    background: white !important;
    opacity: 0.5 !important;
}

.heart-bottom {
    width: 100%;
    position: absolute;
    bottom: 0.4rem;
}

.heart-box {
    display: flex;
    justify-content: center;

}

.heart-box div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
}

.heart-box div i {
    width: 0.64rem;
    height: 0.64rem;
    background: rgba(37, 29, 41, 1);
    opacity: 0.8;
    color: rgba(91, 60, 66, 1);
    font-size: 0.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heart-box div i:hover {
    color: #E4BAB3;
}


.heart-box p {
    margin-top: 0.1rem;
    font-size: 0.16rem;
    color: #FFFFFF;
}

.show-right-content {
    overflow: hidden;
    width: 3.87rem;
    position: absolute;
    right: 40px;
    top: 0;
    z-index: 999;
}

.show-right-content .search-result {
    font-size: 0.14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 0.64rem;
    background: rgba(37, 29, 41, 0.8);
    padding: 0 0.2rem;
    margin-bottom: 0.64rem;
    color: white;
}

.show-right-content .search-result a {
    color: #E4BAB3;
}

.show-right-content .search-result a i {
    font-size: 0.14rem;
}

ul.diamond-list {
    margin-top: 0.96rem;
    width: 4.2rem;
    max-height: 5.5rem;
    overflow-y: scroll;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

ul.diamond-list li {
    position: relative;
    width: 0.76rem;
    height: 1.04rem;
    padding: 0.24rem 0.24rem 0 0.24rem;
    text-align: center;
    cursor: pointer;
    border: 0.02rem solid transparent;
}

ul.diamond-list li:hover,
.diamond-list-active {
    background: rgba(250, 241, 238, 1);
    border: 0.02rem solid rgba(210, 153, 145, 1) !important;

}

ul.diamond-list li .img {
    width: 0.8rem;
    height: 0.8rem;
    background: #7F7F7F;
    text-align: center;
}

ul.diamond-list li .img img {
    width: 0.54rem;
    height: 0.69rem;
}

ul.diamond-list li .name {
    color: #ACA2B3;
    font-size: 0.1rem;
    line-height: 0.2rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}