/* 轮播背景设置 */
.caroursel-modal {
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translate(0, -50%);
    z-index: 9999;
    width: 5.2rem;
    height: 6.88rem;
    padding: 0.4rem 0.6rem;
    background: white;
    color: #230D29;
}

.caroursel-modal .title {
    display: flex;
    justify-content: space-between;
    font-size: 0.20rem;
    font-weight: 500;
    color: rgba(35, 13, 41, 1);
}

.caroursel-modal .title i {
    color: #5A4668;
    font-size: 0.2rem;
}


.caroursel-modal .warpper {
    margin-top: 0.2rem;
    background: #f5f5f5;
    width: 5.2rem;
    overflow: hidden;
}

.caroursel-modal .img-list {
    max-height: 3.88rem;
    width: 5.3rem;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    margin: 0.18rem;
}

.caroursel-modal .item {
    padding: 0.04rem;
    background: white;
    border: 1px solid #D29991;
    margin-top: 0.2rem;
    cursor: pointer;
}

.caroursel-modal .item:nth-child(odd) {
    margin-right: 0.12rem;
}

.caroursel-modal .item img {
    width: 2.24rem;
    height: 1.26rem;
}

.caroursel-modal .upload-warp {
    margin-top: 0.2rem;
    height: 1.28rem;
    width: 100%;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.caroursel-modal .upload-warp .upload-btn {
    width: 112px;
    height: 40px;
    border: 1px solid rgba(35, 13, 41, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(35, 13, 41, 1);
    margin-left: 0.12rem;
    cursor: pointer;
}

.caroursel-modal .footer {
    margin-top: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.caroursel-modal .footer span {
    margin-left: 0.12rem;
}

.mask {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(43, 41, 41, 0.63);
    top: 0;
    left: 0;
    z-index: 100;
}