.page-order {
    background: #e8e7e7;
    color: #230D29;
    padding-bottom: 1rem;
}

.order-content {
    margin: 0 1rem;
}

.order-top-img {
    height: 2.8rem;
    width: 100%;
}

.order-warp {
    padding: 0.4rem 0.6rem;
    background: #FFFFFF;
    box-shadow: 0 2px 7px 0 rgba(5, 34, 97, 0.20);
    display: flex;
    margin-bottom: 0.2rem;
}

.order-warp h5 {
    font-family: PingFangSC-Medium;
    font-size: 0.16rem;
    color: #230D29;
    margin-bottom: 0.2rem;
}

.order-left-item {
    position: relative;
    margin-bottom: 0.2rem;
    border-bottom: 1px solid #DDD9DF;
    width: 4rem;
}

.order-left-item .order-input-span {
    position: absolute;
    right: 0;
    bottom: 0.1rem;
    color: #442E4D;
}

.order-left-item p {
    color: #D29991;
}

.order-left-item input {
    border: none;
    height: 0.36rem;
    font-size: 0.14rem;
    line-height: 0.36rem;
}

.order-warp-right {
    margin-left: 0.97rem;
    width: 100%;
}

.upload-list {
    display: flex;
    margin-bottom: 0.38rem;
}

.upload-list .imgs,
.upload-btn1 {
    width: 1.28rem;
    height: 1.28rem;
}

.upload-list .imgs {
    background: #7F7F7F;
    margin-right: 0.12rem;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.upload-list .imgs i {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0.3rem;
    color: #D29191;
}

.upload-list .imgs p {
    width: 0.6rem;
    font-size: 0.12rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.upload-list .imgs i:hover {
    color: #230D29;
}

.upload-list .imgs img {
    width: 1rem;
    height: 1rem;
}

.upload-list .upload-btn1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: #F6F5F7;
}

.upload-list .upload-btn1:hover {
    cursor: pointer;
    background: #DDD9DF;
}

.upload-btn1 P:first-child {
    color: #230D29;
    font-size: 0.4rem;
}

.upload-btn1 P.txt {
    color: #ACA2B3;
    font-size: 0.12rem;
}

.upload-btn1 {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.upload-btn1 input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
}

.upload-list img {
    padding: 0.14px;
}

/* 主石信息 */
.product-type {
    border: 1px solid #DDD9DF;
}

.product-type:not(:last-child) {
    margin-bottom: 0.2rem;
}


.product-type .from-head {
    background: #FAF1EE;
    position: relative;
    height: 0.64rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.16rem;
}

.product-type .from-head i {
    color: #230D29;
    font-size: 0.25rem;
}

.product-type .from-head .right-opt {
    position: absolute;
    right: 0.2rem;
}

.product-type .from-head i:hover {
    color: rgba(90, 70, 104, 1);
}

.product-type .from-content {
    background: white;
}

.content-row {
    padding: 0.32rem 0.20rem;
    display: flex;
}

.content-row:not(:last-child) {
    border-bottom: 1px solid #DDD9DF;
}


.info-form-item {
    margin-bottom: 0.12rem;
}

.info-form-item .from-head .info-form-item p {
    padding-left: 0.1rem;
}

.form-item p {
    margin-bottom: 0.1rem;
}

.form-item select {
    width: 1.6rem;
    height: 0.36rem;
    background: #F0EEF1;
    border: 1px solid #DDD9DF;
    border-radius: 0.04rem;
}

.form-item select:focus {
    border: none;
    background: #C1C0C2;
}

.form-item select>option {
    padding: 0.05rem 0;
}

.form-item .input {
    position: relative;
}

.form-item input {
    height: 0.34rem;
    line-height: 0.34rem;
    border: 1px solid #DDD9DF;
    border-radius: 0.04rem;
    width: 1.42rem;
}

.form-item .input span {
    position: absolute;
    right: 0.2rem;
    top: 0.07rem;
}

.form-item:not(:last-child) {
    margin-right: 0.12rem;
}

.order-info {
    padding: 0.3rem 0.2rem;
    background: #F6F5F7;
    border: 1px solid #DDD9DF;
    color: #230D29;
}

.order-info .form-item {
    display: flex;
}

.order-info .row {
    margin: 0.15rem 0;
}

.order-info .row p {
    margin-bottom: 0.1rem;
}

.order-info .form-item .input input {
    width: 0.8rem;
    padding-right: 0.25rem;
}

.order-info .form-item select,
.order-info .form-item input {
    margin-right: 0.12rem;
}