.page-show {
    position: relative;
    overflow: hidden;
    padding: 48px 40px 40px 40px;
    color: white;
    height: calc(100% - 88px) !important;
}

.show-left {
    float: left;
}

.show-logo {
    margin: 20px 0 48px 48px;
}

.show-tab {
    background: rgba(56, 46, 62, 0.85);
    padding: 48px 0.24rem 48px 0;
    width: 2.16rem;
}

.show-tab-item {
    position: relative;
    padding-left: 32px;
    color: white;
    margin-bottom: 36px;
    box-sizing: border-box;
    border-left: 2px solid transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.show-tab-item:hover {
    border-left: 2px solid #D29991;
    color: #E4BAB3;
    cursor: pointer;
}

.show-tab-item p:first-child {
    font-family: PingFangSC-Medium;
    font-size: 18px;
}

.show-tab-item p:last-child {
    font-family: SFUIText-Light;
    font-size: 14px;
}

.black {
    color: rgba(124, 113, 130, 0.6) !important;
}

.show-tab-active {
    border-left: 2px solid #D29991;
    color: #E4BAB3;
}

.sub-item {
    width: 240px;
    position: absolute;
    top: 0;
    left: 248px;
    background: rgba(56, 46, 62, 0.85);
}

.sub-tab-title {
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 16px 45px 8px 45px;
}

.sub-tab-title span {
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
}

.sub-tab-title span:hover,
.sub-tab-title span.active {
    color: #E4BAB3;
    border-bottom: 2px solid #E4BAB3;
}

ul.sub-tab-content {
    max-height: 240px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

ul.sub-tab-content li {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.sub-tab-content li i {
    font-size: 80px;
    color: white;
}

ul.sub-tab-content li:hover,
ul.sub-tab-content li.active {
    background: linear-gradient(315deg, rgba(91, 60, 66, 1) 0%, rgba(182, 151, 158, 1) 100%);
}


ul.sub-tab-content li .sanjiao {
    border-color: white transparent transparent white;
    border-width: 0.12rem;
}

ul.sub-tab-content li .sanjiao .gou {
    width: 0.04rem;
    height: 0.06rem;
    border-right: 0.015rem solid black;
    border-bottom: 0.015rem solid black;
    margin-top: -0.1rem;
    margin-left: -0.075rem;
}

.show-center {
    margin-left: 4.65rem;
    float: left;
    text-align: center;
}

.center-image img {
    margin-top: 1.72rem;
    width: 4.3rem;
    height: 5.4rem;
}

.show-center .center-bottom {
    margin-top: 1.84rem;
    display: flex;
    position: relative;
}

.show-center .center-bottom div.item {
    position: relative;
    text-align: center;
    margin-left: 0.2rem;
}

.show-center .center-bottom div.item:hover i {
    cursor: pointer;
    color: #E4BAB3;
}

.show-center .center-bottom div div.i {
    width: 0.64rem;
    height: 0.64rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(37, 29, 41, 0.8);
    border-radius: 50%;
}

.show-center .center-bottom div i {
    color: #B6979E;
    font-size: 0.3rem;
}

.show-center .center-bottom div p {
    margin-top: 0.03rem;
    font-size: 16px;
    color: rgba(124, 113, 130, 0.6);
}

.show-center .center-bottom div .badge {
    position: absolute;
    top: -0.1rem;
    right: -0.06rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    font-weight: bold;
    width: 0.24rem;
    height: 0.24rem;
    background: linear-gradient(315deg, rgba(91, 60, 66, 1) 0%, rgba(182, 151, 158, 1) 100%);
}

.center-search {
    position: absolute;
    top: -200px;
    left: 14%;
    padding-top: 0.96rem;
    width: 3.84rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.center-search input {
    width: 2.88rem;
    padding: 0 0.2rem;
    height: 0.44rem;
    border-radius: 0.04rem 0 0 0.04rem;
    font-size: 16px;
    font-family: PingFangSC;
    font-weight: 400;
    color: #000000;
}

.center-search input::-webkit-input-placeholder {
    color: #ACA2B3;
}

.center-search .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 0.96rem;
    background: linear-gradient(315deg, rgba(91, 60, 66, 1) 0%, rgba(182, 151, 158, 1) 100%);
    border-radius: 0 0.04rem 0.04rem 0;
}

.center-search .btn:hover {
    cursor: pointer;
    background: #E4BAB3;
}

.center-bottom .share {
    position: absolute;
    left: 24%;
    top: -3.88rem;
    width: 2.80rem;
    height: 3.20rem;
    background: linear-gradient(315deg, rgba(91, 60, 66, 0.6) 0%, rgba(182, 151, 158, 1) 100%);
    border-radius: 0.04rem;
    padding: 0.2rem 0;
    display: flex;
    flex-flow: column;
    color: rgba(255, 255, 255, 1) !important;
}

.center-bottom .share h4 {
    font-size: 18px;
    line-height: 36px;
}

.center-bottom .share p {
    font-size: 14px !important;
    font-family: DINPro;
    color: rgba(255, 255, 255, 1) !important;
}

.center-bottom .share img {
    background: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.center-bottom .share .iconweixinlogo {
    margin: 0.1rem 0 16px 0;
    font-size: 0.6rem;
    color: white;
}

.center-bottom .share img.qrcode {
    width: 1.28rem;
    height: 1.28rem;
    margin-bottom: 0.12rem;
}

.center-bottom .share span {
    font-size: 0.12rem;
    line-height: 0.24rem;
}

.show-right {
    float: right;
}

.show-right-content {
    /* margin-left: 1.5rem; */
    overflow: hidden;
    width: 3.87rem;
}

.tag-list {
    display: flex;
}

.tag-list .tag {
    margin-right: 8px;
    display: flex;
    align-items: center;
    background: rgba(49, 38, 56, 1);
    padding: 0.04rem 0.04rem 0.04rem 0.2rem;
    border-radius: 0.5rem;
}

.tag-list .reset-btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0.04rem 0.2rem;
    background: linear-gradient(315deg, rgba(91, 60, 66, 1) 0%, rgba(182, 151, 158, 1) 100%);
}

.tag-list .reset-btn:hover {
    background: #E4BAB3;
}

ul.diamond-list {
    margin-top: 0.56rem;
    width: 4.01rem;
    max-height: 6.6rem;
    overflow-y: scroll;
    background: white;
    display: flex;
    flex-wrap: wrap;
}

ul.diamond-list li {
    position: relative;
    width: 0.76rem;
    height: 1.04rem;
    padding: 0.24rem 0.24rem 0 0.24rem;
    text-align: center;
    cursor: pointer;
    border: 2px solid transparent;
}

ul.diamond-list li:hover,
.diamond-list-active {
    background: rgba(250, 241, 238, 1);
    border: 2px solid rgba(210, 153, 145, 1) !important;

}

ul.diamond-list li .img {
    width: 80px;
    height: 80px;
    background: #7F7F7F;
    text-align: center;
}

ul.diamond-list li .img img {
    width: 0.54rem;
    height: 0.69rem;
}

ul.diamond-list li .name {
    color: #ACA2B3;
    font-size: 0.1rem;
    line-height: 0.2rem;
}

.add-cart,
.order-now {
    margin-top: 0.2rem;
    width: 3.2rem;
    height: 0.64rem;
    padding: 0 32px;
    font-size: 18px;
    border: 1px solid rgba(90, 70, 104, 1);
    background: #00000061;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add-cart:hover {
    background: #55405E;
}

.order-now {
    justify-content: space-between;
    background: linear-gradient(315deg, rgba(91, 60, 66, 1) 0%, rgba(182, 151, 158, 1) 100%);
}

.order-now:hover {
    background: #E4BAB3;
}

.black-close {
    height: 32px;
    width: 32px;
    background-color: black;
    border-radius: 50%;
    margin-left: 0.1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.black-close:hover {
    background-color: #E4BAB3;
}

.black-close:after {
    content: "\d7";
    font-size: 20px;
    color: white;
}