.page-shared {
    display: flex;
    overflow-x: hidden;
}

.shared-left {
    margin-top: 2.88rem;
    width: 3.2rem;
}

.shared-tab {
    margin-left: 0.48rem;
}

.shared-tab-item {
    padding-left: 0.32rem;
    color: white;
    margin-bottom: 0.36rem;
    box-sizing: border-box;
    border-left: 0.02rem solid transparent;
}

.shared-tab-item:hover {
    border-left: 0.02rem solid #D29991;
    color: #E4BAB3;
    cursor: pointer;
}

.shared-tab-item p:first-child {
    font-family: PingFangSC-Medium;
    font-size: 0.18rem;
}

.shared-tab-item p:last-child {
    font-family: SFUIText-Light;
    font-size: 0.14rem;
}


.shared-tab-active {
    border-left: 0.02rem solid #D29991;
    color: #E4BAB3;
}

.private-content {
    height: 100%;
    width: calc(100% - 3.2rem);
    display: flex;
    background: #F6F5F7;
    flex-direction: column;
}

.pr-header {
    margin: 0.32rem 0.48rem;
    display: flex;
    justify-content: space-between;
}

.pr-header h5 {
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(35, 13, 41, 1);
}

.pr-header .search {
    display: flex;
}

.pr-header .search input {
    width: 3.84rem;
    height: 0.48rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0.01rem 0.04rem 0rem rgba(5, 34, 97, 0.1);
    border-radius: 0.04rem 0 0 0.04rem;
    border-width: 0;
    padding: 0 0.2rem;
}

.pr-header .search input::-webkit-input-placeholder {
    color: #ACA2B3;
    font-size: 0.16rem;
}

.pr-header .search .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.96rem;
    height: 0.48rem;
    background: linear-gradient(315deg, rgba(91, 60, 66, 1) 0%, rgba(182, 151, 158, 1) 100%);
    border-radius: 0 0.04rem 0.04rem 0;
}

.pr-header .search .icon i {
    font-size: 0.3rem;
    color: white;
}

.pr-list {
    padding: 0 0.48rem;
    display: flex;
    flex-wrap: wrap;
    height: calc(100% - 1.12rem);
    width: calc(100% - 0.96rem + 17px);
    overflow-y: auto;
}

.pr-list .item {
    margin-right: 0.2rem;
    margin-bottom: 0.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pr-list .item:nth-child(4n) {
    margin-right: 0 !important;
}

.pr-list .item:hover img {
    border: 2px solid rgba(210, 153, 145, 1);
}

.pr-list .item img {
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0rem 0.02rem 0.07rem 0rem rgba(5, 34, 97, 0.1);
    border-radius: 0.04rem;
    display: inline-block;
    width: 3.60rem;
    height: 2.40rem;
}

.pr-list .item p {
    margin-top: 0.24rem;
    font-size: 0.14rem;
    font-weight: 400;
    color: rgba(85, 64, 94, 1);
}

.sanjiao {
    position: absolute;
    top: 0;
    left: 0;
    width: 0px;
    height: 0px;
    border-color: white transparent transparent white;
    border-width: 0.27rem 0.27rem 0.27rem 0.27rem;
    border-style: solid;
    border-top-left-radius: 0.04rem;
}

.gou {
    width: 0.08rem;
    height: 0.12rem;
    border-right: 0.02rem solid #666;
    border-bottom: 0.02rem solid #666;
    transform: rotate(40deg);
    margin-top: -0.2rem;
    margin-left: -0.15rem;
}