.show-drawer {
    width: 8.4rem;
    height: calc(100% - 0.8rem);
    padding: 0.4rem 0.6rem;
    background: white;
    position: absolute;
    right: 0;
    top: 0;
}

.show-drawer .drawer-title {
    display: flex;
    justify-content: space-between;
    font-size: 0.20rem;
    font-weight: 500;
    color: rgba(35, 13, 41, 1);
}

.show-drawer .drawer-title i {
    color: #5A4668;
    font-size: 0.2rem;
}

.drawer-content {
    display: flex;
    margin-top: 0.2rem;
}

.drawer-content ul {
    width: 3.98rem;
    border: 1px solid #DDD9DF;
    height: 6.84rem;
    padding-bottom: 0.64rem;
    color: #230D29;
    position: relative;
    overflow: auto;
    background: #f5f5f5;
}

.drawer-content ul li {
    display: flex;
    background: white;
    align-items: center;
    padding: 0.08rem 0.4rem 0.08rem 0.08rem;
}

.drawer-content ul li:hover,
.drawer-content ul .active {
    background: rgba(250, 241, 238, 1);
}

.drawer-content ul li:not(:last-child) {
    border-bottom: 1px solid #DDD9DF;
}

.drawer-content ul li img {
    padding: 0.1rem;
    background: #7F7F7F;
    width: 0.6rem;
    height: 0.6rem;
}

.drawer-content ul li .info {
    flex: 2;
    margin-left: 0.2rem;
}

.drawer-content ul li p {
    margin-top: 0.08rem;
    font-size: 0.1rem;
}

.drawer-content ul:last-child {
    margin-left: 0.42rem;
}

.drawer-content ul li input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #999;
    border-radius: 10px;
    outline: none;
}

.drawer-content ul li input[type="checkbox"]:checked {
    background: #230D29;
}

.drawer-content ul .bottom {
    width: 3.58rem;
    color: white;
    padding: 0.2rem;
    height: 0.24rem;
    background: #230D29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 1.1rem;
}

.drawer-content ul .bottom span {
    color: #D29991;
}

.show-drawer .opts {
    margin-top: 0.2rem;
    display: flex;
    flex-flow: row-reverse;
}

.show-drawer .opts span {
    width: 112px;
    height: 40px;
    border: 1px solid rgba(35, 13, 41, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(35, 13, 41, 1);
    margin-left: 0.12rem;
    cursor: pointer;
}

.show-drawer .opts span:first-child {
    color: white;
    background: rgba(35, 13, 41, 1);
}

.show-drawer .opts span:hover {
    background: #FAF1EE;
}

.show-drawer .opts span:first-child:hover {
    background: rgba(35, 13, 41, 0.7);
}